.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
h1{
    color:#e98300;
    font-weight: 100;
    font-size:38px;
    padding-bottom:50px;
}
.lead{
   font-size: 18px;
}
h4{
    margin-bottom:20px;
    line-height: 1.4;
}
select#Background{
    width:149px;
    margin-top:30px ;
}
div.border{
    border-bottom: 1px solid #e98300;
    margin:40px 0px;
}
.btn-file, .submit-btn, .btn-success, .upload-files{
    margin-top:30px;
}
#mapnik-image{
    margin-bottom:50px;
    margin-top:-20px;
    display: block;
    margin-left: auto;
    margin-right: auto    
}